.comment-input {
  margin: 20px;
  width: 400px;
  border: 1px solid #cccccc;
  padding: 10px;
  .comment-item {
    display: -webkit-flex;
    display: flex;
    margin: 20px auto;
    .comment-text {
      -webkit-flex-basis: 100px;
      flex-basis: 100px;
    }
    .comment-user,
    .comment-content {
      border: 1px solid #e6ee6e;
      outline: none;
      resize: none;
      border-radius: 2px;
      flex: 1;
    }
    .comment-content {
      height: 100px;
    }
  }
  .btn {
    text-align: right;
    button {
        background-color: #00a3cf;
        color: white;
        outline: none;
        border-radius: 3px;
    }
  }
}
